<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/vue.js"></script>
</head>
<body>
   
    <div id="app">
        <span v-if="height>=180"><h1 style="color: red;">男神</h1></span>
        <span v-else=""><h1 style="color: green;">男人</h1></span>

        <span v-if="height>=180"><h1 v-html="text"></h1></span>
        <span v-else=""><h1 v-html="text2"></h1></span>
    </div>
   
       
    

    <script>
        new Vue({
            el:'#app',
            data:{
                height:180,
                text:'<span style="color: red;">男神</span>',
                text2:'<span style="color: green;">男人</span>',
            }
        })
    </script>
</body>
</html>